
body {background-image: url('momo.jpeg');}
h2 {font-family: comic sans ms;
    background-color: #aaccaa;
    text-align: center;    
}
table {background: grey;}
.td{font-weight: bold;}

table, th, td {
    border: 1px solid black;
}

h3 {font-family: comic sans ms;
    background-color: #aaccaa;
    text-align: center;    
}